<div id="county_members" data-hook="member">
  <div class="card mb-3">
    <div class="card-header">
      <h1 class="card-title mb-0 h5">
        <%= Spree.t(:counties) %>
      </h1>
    </div>

    <div class="card-body">
      <%= zone_form.field_container :county_ids, class: ['form-group'] do %>
        <%= zone_form.label :county_ids, Spree.t(:counties) %>
        <%= zone_form.collection_select :county_ids, Spree::County.order(:name), :id, :name, {}, { multiple: true, class: "select2" } %>
      <% end %>
    </div>
  </div>
</div>
