Hola,

<BR/>
<p>
Le adjuntamos la etiqueta de devolución (o RMA) para su pedido: <strong> <%= @order_number %></strong>. Por favor embalar el producto y pegar la etiqueta a la caja. Luego debe entregar el paquete en cualquier oficina de Chilexpress (No es necesario si solicitó RETIRO en su dirección).
</p>
<p>
Una vez que recibamos el paquete, su solicitud de devolución será evaluada de acuerdo a los antecedentes proporcionados. Si por algún motivo no procede la devolución, el paquete será devuelto a la dirección de origen.
</p>
<p>
Le recordamos que el derecho a retracto <strong>sólo aplica cuando el producto está sellado.</strong> Si el producto fue abierto y desea la devolución, se aplicará un recargo al monto de devolución. 
</p>
<BR/>
Gracias.
<BR/>

<BR/>
