<div class="form-group" data-hook="enviame_warehouse_code">
  <%= f.label :enviame_warehouse_code, Spree.t(:enviame_warehouse_code) %>
  <%= f.text_field :enviame_warehouse_code, class: 'form-control' %>
</div>