<% if purchase.status == 'success' %>
  <p>Purchase Order: <span><%= link_to "#{purchase.respuesta}(#{purchase.vendor&.name})", purchase.url, target: '_blank'  %></span></p>
<% else %>
  <p><%= "#{purchase.respuesta} - (#{purchase.vendor&.name})"  %></p>
<% end %>