<div class='text-center my-4'>
  <%= link_to path_for_omniauth(@spree_user, method.provider), id: method.provider.to_url, class: 'btn btn-primary' do %>
    <span class='ml-2' style='font-weight: bold;'>Login con Facebook</span>
  <% end %>
</div>
